* {
  margin: 0px;
  padding: 0px;
}
#header {
  background-color: #ffeb00;
  height: 7vh;
  color: #000957;
  text-align: center;
  width: 100%;
  font-family: "Jaro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
}
#main {
  width: 100%;
  height: 93vh;
  position: relative;
  color: white;
  background-color: #000957;
}
#desc {
  position: absolute;
  top: 4%;
  left: 5%;
  letter-spacing: 3px;
  font-size: 48px;
}
#description {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 14%;
  left: 5%;
  width: 90%;
  font-size: 32px;
  line-height: 1.5;
}
#moral {
  position: absolute;
  bottom: 20%;
  left: 15%;
  font-family: "Jaro", serif;
  font-size: 50px;
  width: 70%;
}
#play {
  width: 200px;
  height: 40px;
  position: absolute;
  background-color: #ffeb00;
  bottom: 21%;
  right: 20%;
  border: 0px;
  border-radius: 12px;
}
#play:hover {
  background-color: white;
}
a {
  text-decoration: none;
}
#panda {
  position: absolute;
  width: 200px;
  height: 360px;
  right: 7%;
  bottom: 8%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #desc {
    font-size: 36px;
  }
  #description {
    top: 12%;
    font-size: 24px;
  }
  #moral {
    font-size: 30px;
  }
  #play {
    bottom: 12%;
    left: 15%;
  }
  #panda {
    right: 1%;
    bottom: 1%;
  }
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  #desc {
    font-size: 24px;
  }
  #description {
    top: 9%;
    font-size: 16px;
  }
  #moral {
    top: 55%;
    font-size: 24px;
    width: 80%;
    left: 5%;
  }
  #play {
    bottom: 15%;
    left: 10%;
  }
  #panda {
    right: 0%;
    bottom: 0%;
    width: 100px;
    height: 200px;
  }
}
