* {
  margin: 0px;
  padding: 0px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#alert_box {
  width: 80vh;
  height: 43vh;
  background-color: #000957;
  position: absolute;
  color: white;
  display: none;
  top: 30%;
  left: 30%;
  border: 2px solid black;
  z-index: 1000;
  border-radius: 20px;
  text-align: center;
}
#important_notice {
  padding-top: 30px;
  font-family: "Jaro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#alert_message {
  padding-top: 30px;
  width: 80%;
  margin-left: 50px;
  font-size: 24px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
#ok {
  margin-top: 25px;
  width: 90%;
  height: 40px;
  border-radius: 10px;
  font-size: 1.1em;
  font-family: "Jaro", serif;
  cursor: pointer;
}
#ok:hover {
  background-color: yellow;
}
#header {
  width: 100%;
  height: 6vh;
  background-color: #000957;
  color: white;
  text-align: center;
  font-family: "Jaro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#header2 {
  width: 100%;
  height: 12vh;
  background-color: #344cb7;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
a {
  text-decoration: none;
  color: white;
  transition: color 1s ease;
  font-weight: bold;
  font-size: 24px;
}
a:hover {
  color: #ffeb00;
}
#Name {
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Jaro", serif;
  font-size: 2em;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
}
#player-name {
  width: 20em;
  height: 3em;
  border-radius: 1em;
  padding-left: 1em;
  border: 0px solid rgb(255, 255, 255);
}
#player-name:hover {
  background-color: rgb(175, 167, 167);
}
#Enter {
  font-family: "Roboto", sans-serif;
  width: 7em;
  height: 3em;
  border-radius: 1em;
  border: 0px solid white;
  background-color: #ffeb00;
}
#shine {
  display: none;
  position: absolute;
  top: 10%;
  height: 70%;
  width: 20%;
  left: 5%;
}
#btn {
  margin-top: 2.5em;
  margin-left: 0.3em;
}
#Enter:hover {
  background-color: rgb(255, 255, 255);
}
#Description {
  width: 20%;
  padding-top: 3em;
}
#name {
  width: 100%;
  height: auto;
}
#main {
  height: 18vh;
  text-align: center;
  background-color: #000957;
  color: white;
  font-family: "Roboto", sans-serif;
}
#main input {
  width: 80px;
  height: 80px;
  border-radius: 160px;
}
#main button {
  width: 6em;
  height: 6em;
  margin-left: 1em;
  border-radius: 10em;
  font-family: "Roboto", sans-serif;
}
#play-ground {
  background-color: #ffeb00;
  height: 64vh;
  width: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
}
#vs {
  position: absolute;
  top: 38%;
  left: 45%;
  width: 10%;
  height: 24%;
}
#human {
  position: absolute;
  top: 10%;
  height: 70%;
  width: 20%;
  left: 5%;
}
#panda {
  position: absolute;
  top: 10%;
  right: 5%;
  height: 80%;
  width: 35%;
}
#rem {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 20%;
  top: 80%;
  left: 40%;
}
#Desc {
  padding-left: 5%;
  font-family: Arial, Helvetica, sans-serif;
}
#ans {
  position: absolute;
  top: 10%;
  width: 20%;
  height: 10%;
  left: 43%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  color: rgb(255, 48, 48);
  font-weight: bold;
}
#player {
  position: absolute;
  left: 11%;
  top: 3%;
}
#player-panda {
  top: 3%;
  position: absolute;
  right: 19%;
}
#player-number {
  position: absolute;
  left: 30%;
  top: 45%;
}
#panda-number {
  position: absolute;
  right: 35%;
  top: 45%;
}
#Num {
  font-size: 30px;
  padding-left: 1em;
}
/*Media Query for Tablets*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #Desc {
    padding-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
  }
  #Name {
    margin-left: 30%;
  }
  #ans {
    left: 45%;
  }
  #player-panda {
    right: 18%;
  }
  #rem {
    width: 40%;
    left: 30%;
  }
  #shine {
    width: 25%;
    left: 2%;
  }
}
/*Media Query for Mobile Phones*/
@media screen and (min-width: 360px) and (max-width: 480px) {
  #player-panda {
    right: 12%;
    font-size: 1.5em;
  }
  #player {
    left: 9%;
    font-size: 1.5em;
  }
  #human {
    width: 35%;
    left: 0%;
  }
  #main h1 {
    font-size: 1.4em;
  }
  #Desc {
    font-size: 0.5em;
    padding-left: 1vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  #Name {
    margin-left: 0.1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Jaro", serif;
    font-size: 1.75em;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
  }
  #player-name {
    width: 15em;
    height: 3em;
    border-radius: 1em;
    padding-left: 1em;
    border: 0px solid rgb(255, 255, 255);
  }
  #Enter {
    font-family: "Roboto", sans-serif;
    width: 6em;
    height: 3em;
    border-radius: 1em;
    border: 0px;
    background-color: #ffeb00;
  }
  #btn {
    margin-top: 2.3em;
    margin-left: 0.3em;
  }
  #panda {
    position: absolute;
    top: 10%;
    right: 0%;
    height: 80%;
    width: 45%;
  }
  #ans {
    position: absolute;
    top: 10%;
    width: 20%;
    height: 10%;
    left: 43%;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    color: rgb(255, 48, 48);
    font-weight: bold;
  }
  #shine {
    width: 33%;
    left: -2%;
    height: 60%;
  }
  #remaining {
    font-size: 1.5em;
  }
  #rem {
    width: 50%;
    left: 23%;
  }
  #rem-text {
    font-size: 1em;
  }
  #vs {
    position: absolute;
    top: 38%;
    left: 43%;
    width: 12%;
    height: 18%;
  }
}
